.swiper-container-testimonial {
  width: 100%;
  /* height: 900px !important; ver altura y padding left de swiper en styles */
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 80px;
}

.swiper-pagination-testimonial {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  text-align: center;
  /* Anulación de estilos predeterminados */
  right: auto !important;
  left: 50% !important;
}
