.swiper-container-testimonial {
  width: 100%;
  height: 760px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 50px;
  background: rgb(194, 112, 235);
}

.swiper-pagination-testimonial {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  text-align: center;
  /* Anulación de estilos predeterminados */
  right: auto !important;
  left: 50% !important;
}
